
.rows{
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;

}
.windiv{
  display: inline-block;
}
.squares{
  font-family:monospace;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  border:solid rgba(2, 1, 2, 0.975) 2px;
  border-radius: 15px;
  height:100px;
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  animation: ease-in infinite ;
  color: black;
  background-color: rgba(141, 145, 32, 0.543);
}
.squares:hover{
   background-color: transparent;
   box-shadow: 0px 0px 3px  grey;
   cursor:pointer;
   animation-name: datal;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes datal {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg) scaleX(1.1);
    }
    
}

body{
  background-image: url(https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=996&t=st=1688126451~exp=1688127051~hmac=e77559d5c64648f3647cd94b35c5b2ad9760b12f5c94b0c75ac7b9a92c35d55c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.board{
  margin: 100px 0;
  text-align: center;
}
.head{
  font-size: 30px;
  font-weight: bolder;
}
.hea{
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
button{
  font-family:monospace;
  background-color: greenyellow;
  color:black;
  border:solid 2px greenyellow;
  font-size: 1.5rem;
  border-radius: 15px;
  margin-top: 10px;
  position:sticky;
}
button:hover{
  background-color: black;
  color:greenyellow;
  border:solid 2px black;
  cursor:pointer;
}
.Draw{
  font-size: 70px;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
}
.play{
  align-items: center;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.Draw{
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
}
.play{
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
 animation: dropAndDance 4s ease ;
}

@keyframes dropAndDance {
  0% {
    transform: translateY(-200px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
