
.rows{
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;

}
.squares{
  font-weight: bolder;
  text-align: center;
  border:solid black 2px;
  border-radius: 5px;
  height:100px;
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  animation: ease-in infinite ;
}
.squares:hover{
   background-color: darkseagreen;
   box-shadow: 3px 3px 3px  rgba(104, 63, 9, 0.989);
   cursor:pointer;
   animation-name: datal;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
@keyframes datal {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg) scaleX(1.1);
    }
    
}
.squares:active{
    color: chocolate;
    box-shadow: inset 5px 5px 5px  rgb(0, 0, 0);
}
body{
  background-image: linear-gradient(pink, blue);
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow:hidden;
}
.board{
  margin: 100px 0;
}
button{
  background-color: aquamarine;
  color:black;
  border:solid 2px aquamarine;
  font-size: 2rem;
  border-radius: 15px;
  margin-top: 10px;
  position:sticky;
  left:35%
}
button:hover{
  background-color: black;
  color:aquamarine;
  border:solid 2px black;
  cursor:pointer;
}
